@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

/* Main CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Regular;
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
}

body {
     background-color: #e6e6e6;
}

.text-center {
    text-align: center;
}

.mb-30 {
    margin-bottom: 30px;
}

/* Navigation CSS */
#nav {    
    font-size: 20px;
    background-color: #4169E1;
    /* background-color: rgba(0, 0, 0, 0.7); */
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}

#nav a {
    color: #fff;
}

#nav > .container {
    max-width: 1200px;
    min-height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #nav > .container > * {
    flex-basis: 33.33%;
} */

#nav .navbar-brand {
    margin-left: 20px;
}

#nav .navbar-brand a {
    text-decoration: none;
}

#nav .mobile-navbar-icons,#nav .hamburger-menu  {
    display: none;
}

#nav .navbar-menu, #nav .navbar-icons {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav .navbar-menu {
    justify-content: center;
}

#nav .navbar-icons {
    justify-content: flex-end;
}

#nav .navbar-menu li {
    padding: 0 20px;
}

 #nav .navbar-icons li {
    padding: 0 18px;
}

#nav .navbar-icons input {
    width: 100px;
    border: 1px solid gray;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 5px 3px;
    font-size: 18px;
    transition: 0.4s;
}

#nav .navbar-icons button {
    width: 30px;
    border: 1px solid gray;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 6px 3px;
    background: #242424;
    color: #dfdfdf;
    font-size: 18px;
}

#nav .navbar-menu li a, #nav .navbar-icons li a {
    text-decoration: none;
}

/* Image Slider CSS */

#slider > .container {
    position: relative;
}

#slider img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 100% 20%;
    display: none;
}

#slider img.active {
    display: block;
}

#slider .controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider .prev, #slider .next{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100x;
    line-height: 50px;
    border-radius: 4px;
    border: none;
    background-color:  rgba(0, 0, 0, 0.4) ;
    color: white;
}

#slider .prev{
    left: 5px;
}

#slider .next{
    right: 5px;
}

/* Product CSS */
.products {
    padding: 50px 0;    
}

.products .container {
    max-width: 992px;
    margin: auto;
}

.products .cards {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: center;
}

.products .cards .card {
    flex-basis: 24%;
    border-radius: 4px;
    margin: 4px;
    position: relative;
    background-color: #fff;
}
.products .cards img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.5s ease;
}

.products .cards .rating i {
    color: orange;
}

.products  .cards .actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    right: 10px;
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease;
}

.products .cards .actions span {
    margin: 8px 0;
    width: 35px;
    height: 35px;
    background-color: #3498db;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    color: #fff;
}

.products .cards .actions a {
    color: #fff;
}

.products .cards .card:hover {
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

.products .cards .card:hover img {
    transform: scale(0.95);
}

.products .card .content {
    padding: 5px 0;
}

.products .cards .card:hover .actions {
    height: 155px;
}

/* Product */
.filterable-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.filterable-btns button {
    margin: 0 3px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.filterable-btns button.active {
    background-color: #3498DB;
    color: #fff;
}

/* Collection */
#collection {
    padding: 60px 0;
}

#collection > .container {
    max-width: 992px;
    margin: auto;

    display: flex;
    align-items: center;
}

#collection > .container .left {
    flex-basis: 50%;
}

#collection > .container .left img {
    max-height: 450px;
    width: 100%;

    object-fit: cover;
    object-position: 100% 20%;
}

#collection > .container .left .card {
    position: relative;
}

#collection > .container .left .content {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 5px 10px;
    width: 100%;
}

#collection > .container .right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

#collection > .container .right .card {
    position: relative;
}

#collection > .container .right img {
    width: 100%;
    height: 222px;
    object-fit: cover;
}

#collection > .container .right .content {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 5px 10px;
    width: 100%;
}

/* Blog */
#blog {
    padding: 60px 0;
}

#blog > .container {
    max-width: 992px;
    margin: auto;
}

#blog .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#blog .cards .card {
    flex-basis: 32%;
    margin: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    background-color: #fff;
    border-radius: 4px;
}

#blog .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* object-position: 100% 25%; */
}

#blog .card .content {
    font-size: 1px;
    position: relative;
    padding: 20px 5px;
}

#blog .date {
    background-color: #3498DB;
    display: block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    position: absolute;
    top: -22px;
    left: 10px;
}

/* Newsletter */
#newsletter {
    padding: 50px 0;
    background-image: url(../images/newsletter-banner-1.jpg);
    background-size: cover;
    background-position: 100% 47%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: #fff;
}

#newsletter > .container {
    max-width: 992px;
    margin: auto;
}

#newsletter form {
    display: flex;
    justify-content: center;
}

#newsletter form input {
    flex-basis: 50%;
    padding: 15px;
    border: 1px solid #3498DB;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#newsletter form button {
    flex-basis: 10%;
    padding: 15px;
    border: 1px solid #3498DB;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #3498DB;
    color: #fff;
}

/* Footer */

#footer {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: rgb(36, 36, 36);
    color: #fff;
}

#footer > .container {
    max-width: 992px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

#footer ul {
    flex-basis: 30%;
    list-style-type: none;
}

#footer ul li {
    padding: 5px 0;

}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    color: #3498DB;
}

#footer .social-media {
    display: flex;
    align-items: center;
}

#footer .social-media a {
    margin: 0 5px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: #e7e4e4;
    color: #3498DB;
    line-height: 30px;
}

#footer .payments {
    margin: auto;
}

#footer img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.copyrights {
    text-align: center;
    background-color: #242424;
    color: #fff;
    padding-bottom: 10px;
}

/* Product Details */

#product-detail {
    padding: 65px 0;
}

#product-detail > .container {
    max-width: 992px;
    margin: auto;
    display: flex;
}

#product-detail .image-div {
    flex-basis: 50%;
}

#product-detail .content {
    flex-basis: 50%;
    padding: 10px;
    margin-left: 15px;
}

#product-detail .content .header {
    display: flex;
    justify-content: space-between;
}

#product-detail .content .description {
    font-size: 18px;
}

#product-detail .content .input {
    display: flex;
    align-items: center;
}

#product-detail .content input {
    width: 80px;
    margin: 4px;
    padding: 5px;
}
#product-detail form .input h5 {
    margin-right: 4px;
}

#product-detail .content select {
    width: 200px;
    margin: 4px;
    padding: 5px;
}

#product-detail .content button {
    margin: 4px;
    padding: 8px 0;
    width: 200px;
    border-radius: 3px;
    background-color: #3498DB;
    color: #fff;
    border: none;
}

#product-detail .image-div > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#product-detail .sub-images {
    display: flex;
    justify-content: center;
}

#product-detail .sub-images div {
    flex-basis: 24%;
    margin: 3px;
}

#product-detail .sub-images img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

/* For each image */

/* #product-detail .subimg-1 img {

} */

#product-detail .subimg-2 img {
    object-position: 100% 50%;
}

#product-detail .subimg-3 img {
    object-position: 20% 50%;
}

/* #product-detail .subimg-4 {
    object-position: 80% 100%;
} */

/* Go to Top button */

#gototop {
    background-color: #4169E1;
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: none;

    position: fixed;
    bottom: 20px;
    right: 10px;
}

#gototop.active {
    display: block;
}